@tailwind base;
@tailwind components;
@tailwind utilities;


.consoleUnderline {
    animation: typing 1.5s 1s linear forwards;
}

.pulsingUnderline {
    animation: pulse 2s ease-in-out infinite;
}

@media screen and (max-width: 1290px) {
    body {
        zoom: 0.75;
    }
}

@keyframes typing {
    from {
        transform: translateX(200px) translateY(-80px);
    }
    to {
        transform: translateX(1260px) translateY(-80px);
    }
}

@keyframes pulse {
    0% {
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 50%;
    }
}
